<!--<p id="notice"><%= notice %></p> -->
<div class="col-md-8 blog-main">
      <!-- /.blog-post -->
      <%= paginate @blogs %>
        <%= render @blogs %>
      <%= paginate @blogs %>

    </div>
    <!-- /.blog-main -->
 

