<div class="album py-5 bg-light">
    <div class="container">
      <%= source_helper("alert alert-warning")%>
  		<div class="row sortable">
			<%= render partial: 'portfolio_item', collection: @portfolio_items %> 
		</div>
	</div>
</div>

			
<!-- <p>< link_to "Create New Item", new_portfolio_url %></p>
 < render partial: 'portfolio_item', collection: @portfolio_items %>  -->
