<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>/<%= link_to 'Show all Portfolios',portfolios_path %>
    </p>
   <%= copyright_generator %>
  </div>
</footer>