
<h3>About Me</h3>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "photo_2019-11-05_07-24-27.jpg", width:270 %>
     </div>
  <div class="col-md-8">
    <p>Ruby on Rails is one of the hottest web frameworks out there right now. Because it’s
      so hot, a lot of people want to dive in immediately, even if they don’t know Ruby. If
      you find yourself in that position, you probably want to know if you need to
      know Ruby before you build applications. The answer is yes … and no. Read full post</p>
    <p>Ruby on Rails is one of the hottest web frameworks out there right now. Because it’s
      so hot, a lot of people want to dive in immediately, even if they don’t know Ruby. If
      you find yourself in that position, you probably want to know if you need to
      know Ruby before you build applications. The answer is yes … and no. Read full post</p>
  </div>
</div>

